@{
    ViewBag.Title = "Home";
}

@section Styles{
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
}

@section Scripts{
    <script>
        $("#intro-text").Morphist({
            animateIn: "fadeIn",
            animateOut: "fadeOut",
            speed: 2000,
            complete: function () { }
        });
    </script>
}

<div class="row row-intro row-border-after-nav">
    <div class="col-md-12">
        <h1>
            WE ARE
            <ul id="intro-text">
                <li>MERCHANTS</li>
                <li>ACQUIRERS</li>
                <li>COMMITTEE</li>
            </ul>
        </h1>
        <h2>Over 9000 clients! <span class="blue-italic">Fraud Alerts</span> & Notifcations</h2>
        <button class="btn btn-default btn-lg btn-join">Join Now!</button>
    </div>
</div>

<div class="row row-sectionHeader">
    <div class="col-md-12">
        <h2>WHO WE SERVE</h2>
    </div>    
</div>

<div class="row row-whoWeServe">
    <div class="col-sm-6">
        <div class="whoWeServe">Acquiring Banks</div>
        <div class="whoWeServe">Acquiring Credit Unions</div>
        <div class="whoWeServe">Acquiring Savings & Loans</div>
        <div class="whoWeServe">Gateway Providers</div>
        <div class="whoWeServe">Internet Service Providers</div>
    </div>
    <div class="col-sm-6">
        <div class="whoWeServe">ISO/MSP</div>
        <div class="whoWeServe">Merchant Acquirers</div>
        <div class="whoWeServe">Processors</div>
        <div class="whoWeServe">Risk Management Professionals</div>
    </div>
</div>

<div class="row row-sectionHeader">
    <div class="col-md-12">
        <h2>who we are</h2>
    </div>
</div>

<div class="row row-video">
    <div class="col-md-12">        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/119398759?title=0&byline=0&portrait=0&api=1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>        
    </div>
</div>

<div class="row row-sectionHeader">
    <div class="col-md-12">
        <h2>our sponsors</h2>
    </div>
</div>

<div class="row row-ourSponsors">
    <div class="col-md-6 col-md-offset-3 col-xs-12">        
        <img src="~/Content/img/sponsors/NMImacLogo.jpg" />
    </div>
</div>
<div class="row row-ourSponsors">
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/bill1st-logo.png" />
    </div>
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/experian_logo.png" />
    </div>
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/intuit_logo.jpg" />
    </div>
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/spectrum_logo.png" />
    </div>
</div>
<div class="row row-ourSponsors">
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/TFSLogo2.png" />
    </div>
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/IDologyLogo.jpg" />
    </div>
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/MLS Small.jpg" />
    </div>
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/aperiafooter.jpg" />
    </div>
</div>
<div class="row row-ourSponsors">
    <div class="col-md-3 col-xs-6">
        <img src="~/Content/img/sponsors/Trustwave_logo_RGB_150dpi.jpg" />
    </div>
</div>
