@{
    ViewBag.Title = "Home";
}

@section Styles{
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
}

@section Scripts{
    <script>
        $("#intro-text").Morphist({
            animateIn: "fadeIn",
            animateOut: "fadeOut",
            speed: 2000,
            complete: function () { }
        });
    </script>
}

<div class="jumbotron jumbotron-intro">
    <h1>
        WE ARE
        <ul id="intro-text">
            <li>MERCHANTS</li>
            <li>ACQUIRERS</li>
            <li>COMMITTEE</li>
        </ul>
    </h1>
    <h2>Over 9000 clients! <span class="blue-italic">Fraud Alerts</span> & Notifcations</h2>
    <button class="btn btn-default btn-lg btn-join">Join Now!</button>
</div>

<div class="row">
    <div class="col-md-12" style="padding: 15px 15px 20px 35px;">
        <h2>Who We Serve</h2>
    </div>
</div>

<div class="row row-whoWeServe">

    <div class="col-md-4">
        <ul class="whoWeServe-ul checkmark">
            <li>Acquiring Bank</li>
            <li>Acquiring Savings & Loan</li>
            <li>Acquiring Credit Union</li>
        </ul>
    </div>

    <div class="col-md-4">
        <ul class="whoWeServe-ul checkmark">
            <li>Gateway Provider</li>
            <li>Internet Service Provider</li>
            <li>ISO/MSP</li>
        </ul>
    </div>

    <div class="col-md-4">
        <ul class="whoWeServe-ul checkmark">
            <li>Merchant Acquirer</li>
            <li>Processor</li>
            <li>Risk Management Professional</li>
        </ul>
    </div>
</div>

<div class="row row-video">
    <div class="col-md-12 col-video">
        <div class="well video-well">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/119398759?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align:center;">
        <h2>Our Sponsors</h2>
        <hr>
    </div>
</div>

<div class="jumbotron jumbotron-sponsors">
    <img src="~/Content/img/sponsors/aperiafooter.jpg" />
    <img src="~/Content/img/sponsors/bill1st-logo.png" />
    <img src="~/Content/img/sponsors/experian_logo.png" />
    <br>
    <img src="~/Content/img/sponsors/intuit_logo.jpg" />
    <img src="~/Content/img/sponsors/spectrum_logo.png" />
    <img src="~/Content/img/sponsors/TFSLogo2.png" />
    <img src="~/Content/img/sponsors/IDologyLogo.jpg" />
    <br>
    <img src="~/Content/img/sponsors/MLS Small.jpg" />
    <img src="~/Content/img/sponsors/NMImacLogo.jpg" />
    <img src="~/Content/img/sponsors/Trustwave_logo_RGB_150dpi.jpg" />
</div>

