@{
    ViewBag.Title = "Events";
}

@section Styles{
    <link href="~/Content/Events.css" rel="stylesheet" />    
}

<div class="row row-sectionHeader">
    <h2>Upcoming MAC Events</h2>
</div>

<div class="row row-event">
    <div class="col-md-12 event-wrapper">
        <h2>2016 Midwestern Regional Training</h2>
        <div class="row">
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td>When:</td>
                        <td>27 September, 2016 - 6:00 AM Pacific Time</td>
                    </tr>
                    <tr>
                        <td>Where:</td>
                        <td>
                            Dallas Marriott Quorum by the Galleria mall<br />
                            14901 Dallas Pkwy.<br />
                            Dallas, TX 75254<br /><br />
                            Nightly rate: $169 The cut off for hotel reservations is September 2, 2016. Reservations can be made by calling 800-228-9290 or by the link below.<br />
                            <a href="#">Event Details</a><br />
                            <a href="#">Download the Agenda</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4 event-badge" style="text-align: center;">
                <img src="~/Content/img/maclogo_cropped_wht.png" />
                <h2>Event</h2>
            </div>
        </div>
    </div>
</div>

<div class="row row-event">
    <div class="col-md-12 event-wrapper">
        <h2>Sample Event 2</h2>
        <div class="row">
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td>When:</td>
                        <td>27 September, 2016 - 6:00 AM Pacific Time</td>
                    </tr>
                    <tr>
                        <td>Where:</td>
                        <td>
                            Dallas Marriott Quorum by the Galleria mall<br />
                            14901 Dallas Pkwy.<br />
                            Dallas, TX 75254<br /><br />
                            Nightly rate: $169 The cut off for hotel reservations is September 2, 2016. Reservations can be made by calling 800-228-9290 or by the link below.<br />
                            <a href="#">Event Details</a><br />
                            <a href="#">Download the Agenda</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4 event-badge" style="text-align: center;">
                <img src="~/Content/img/maclogo_cropped_wht.png" />
                <h2>Event</h2>
            </div>
        </div>
    </div>
</div>

<div class="row row-event">
    <div class="col-md-12 event-wrapper">
        <h2>Sample Event 3</h2>
        <div class="row">
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td>When:</td>
                        <td>27 September, 2016 - 6:00 AM Pacific Time</td>
                    </tr>
                    <tr>
                        <td>Where:</td>
                        <td>
                            Dallas Marriott Quorum by the Galleria mall<br />
                            14901 Dallas Pkwy.<br />
                            Dallas, TX 75254<br /><br />
                            Nightly rate: $169 The cut off for hotel reservations is September 2, 2016. Reservations can be made by calling 800-228-9290 or by the link below.<br />
                            <a href="#">Event Details</a><br />
                            <a href="#">Download the Agenda</a>
                        </td>
                    </tr>
                </table>
            </div>
            @*<div class="col-sm-4 event-badge" style="text-align: center;">
                <img src="~/Content/img/maclogo_cropped_wht.png" />
                <h2>Event</h2>
            </div>*@
        </div>
    </div>
</div>

<div class="row row-event">
    <div class="col-md-12 event-wrapper">
        <h2>Sample Event 4</h2>
        <div class="row">
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td>When:</td>
                        <td>27 September, 2016 - 6:00 AM Pacific Time</td>
                    </tr>
                    <tr>
                        <td>Where:</td>
                        <td>
                            Dallas Marriott Quorum by the Galleria mall<br />
                            14901 Dallas Pkwy.<br />
                            Dallas, TX 75254<br /><br />
                            Nightly rate: $169 The cut off for hotel reservations is September 2, 2016. Reservations can be made by calling 800-228-9290 or by the link below.<br />
                            <a href="#">Event Details</a><br />
                            <a href="#">Download the Agenda</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4 event-badge" style="text-align: center;">
                @*<img src="~/Content/img/maclogo_cropped_wht.png" />*@
                <img src="~/Content/img/sponsors/NMImacLogo.jpg" />
                <h2>Event</h2>
            </div>
        </div>
    </div>
</div>