.row-event {
    padding: 0 25px;
    margin-bottom: 35px;
}

.row-event h2 {
    padding: 10px 30px 15px 10px;
    /*background-image: url('./Img/bg_diag_tp.png');*/
    background-color: #00396e;
    font-family: 'Roboto', sans-serif;
    border-bottom: solid 2px #2897ff;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #FFF;
}

.event-wrapper {
    background-color: #f6f6f6;    
    padding: 0;
    border: solid 1px #00396e;
}

.row-event table {
    margin: 15px;
}

.row-event td {
    padding: 5px 10px 10px 5px;
    vertical-align: top;
}

.event-badge h2 {
    background: none;
    border: none;
    font-weight: normal;
    letter-spacing: .3em;
    text-transform: uppercase;
    padding: 10px 0;
    margin-bottom: 15px;
    color: #333;
}

.event-badge img {
    display: inline-block;
    width: 125px;
    margin-top: 25px;
}