/* INTRO */
.row-intro {
    background-image: url('./Img/boardwalk_3.jpg');
    background-position: top center;
    margin-bottom: 0;
    border-radius: 0 !important;
    padding: 70px 50px 100px 50px;
    text-align: center;
    color: #fff;
}

    .row-intro h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }

#intro-text {
    display: inline;
    padding-left: 0;
}

.row-intro h2 {
    font-size: 26px;
    color: #ddd;
}

.blue-italic {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    color: #3697ff;
}

.btn-join {
    background-color: rgba(255,255,255,0.15);
    margin-top: 24px;
    color: #fff;
    border-radius: 4px;
}

    .btn-join:hover {
        background-color: rgba(255,255,255,0.3);
        color: #fff;
    }

.video-well {
    padding: 6px;
    margin-top: 15px;
    background-color: #fff;
    border-color: #ccc;
    box-shadow: 0px 10px 15px -10px rgba(0,0,0,0.5);
}

/* WHO WE SERVE */
.row-whoWeServe {
    padding: 0 30px;
}

.whoWeServe {
    padding: 12px 18px 10px 18px;
    font-size: 18px;
    color: #0056a6;
    text-transform: uppercase;
    background-image: url('./Img/bg_diag_tp.png');
    border-bottom: solid 2px #2897ff;
    margin-bottom: 18px;
}

/* VIDEO */
.row-video {
    background-color: #eee;
}

    .row-video > div {
        padding: 3%;
        background-image: url('./Img/bg_diag_tp.png');
    }

/* SPONSORS */
.row-featuredSponsor div {
    padding: 2% 3%;
}

.row-featuredSponsor img {
    width: 100%;
}

.row-ourSponsors div {
    padding: 2% 3%;
}

.row-ourSponsors img {
    width: 100%;
}
