@{
    ViewBag.Title = "Join";
}

@section Scripts{

}

<div class="row row-sectionHeader clearfix">
    <h2 style="display: inline-block;">What will MAC do for you?</h2>
    <a href="@Url.Action("Apply","Join")"><button class="btn-lg btn-success pull-right" style="margin-right: 35px;">Join Now!</button></a>
</div>

<div class="row" style="padding: 0 45px;">
    @*<h3>
          Acquiring Professionals
        </h3>
        <p>
          Risk and Underwriting professionals from any Acquiring Bank, Savings and Loan, Credit Union, Third party Processor, ISO/MSP, Merchant Acquirer, Processor, Law Enforcement Agency, Gateway Provider, Internet Service Provider, etc.
        </p>*@
    @*<h3>
          What will MAC do for you?
        </h3>*@
    <p style="line-height: 1.8em; font-size:15px;">
        MAC is here to assist its members with managing risk and preventing fraud by providing a communication channel to encourage ongoing networking, benchmarking, and information sharing among its members. Membership in MAC will provide you the value of sharing best practices, discussing current fraud trends, loss mitigations, and the opportunity to receive education materials and share information within your peer group. The daily communications from MAC will provide information about the industry. members will receive e-mails regarding suspicious or problematic merchants as well as articles and informations to help keep you up-to-date. MAC also provides networking opportunities not available anywhere else in the industry, member contact lists and access to the MAC website.
    </p>
    @*<h3>
          VISA, MasterCard, Discover, American Express
        </h3>
        <p>
          All of the major card associations are members of MAC.
        </p>*@
</div>

<div class="row row-sectionHeader">
    <h2>Membership Types and Member Benefits</h2>
</div>

<div class="row" style="padding: 0 15px; margin-bottom: 35px;">
    <div class="col-md-12 hidden-sm hidden-xs">
        <table class="table-info td-nowrap table-striped">
            <thead>
                <tr>
                    <td>Member Level</td>
                    <td>Membership Description</td>
                    <td>New Member<br/>Enrollment</td>                    
                </tr>
            </thead>
            <tbody>
                <tr><td>Individual</td><td>For single-user members; includes Risk and Underwriting professionals from any Acquiring Bank, Savings and Loan, Credit Union, third Party Processor, ISO/MSP, Merchant Acquirer, Processor, or Law Enforcement Agency. Other than Law Enforcement, the MAC member (company) must hold liability and be responsible for risk involving merchant transactions. A Individual Member receives all communications and has the ability to send inquiries and alerts.</td><td>$75.00</td></tr>
                <tr><td>Corporate Regular</td><td>For corporate, or multi-user memberships. This level includes Risk and Underwriting professionals from any Acquiring Bank, Savings and Loan, Credit Union, third Party Processor, ISO/MSP, Merchant Acquirer, Processor, or Law Enforcement Agency. Other than Law Enforcement, the MAC member (company) must hold liability and be responsible for risk involving merchant transactions. A Member receives all communications and has the ability to send inquiries and alerts. Additionally, Corporate memberships include three additional user accounts at no additional charge. </td><td>$225.00</td></tr>
                <tr><td>Corporate Additional</td><td>For larger corporations or user groups. This account has the same access under a pre-existing Corporate account, needing more than four user accounts.</td><td>$50.00</td></tr>
                <tr><td>Partner</td><td>This Membership includes Risk and Underwriting professionals from ancillary industries such as those that sells future receivables on credit card processing. </td><td>$300.00</td></tr>
                <tr><td>Vendor</td><td>This Membership includes those that provide services to the risk and underwriting professionals that are members. A Vendor does not receive inquiries or alerts, but is able to send inquiries and job opportunities.</td><td>$500.00</td></tr>
                <tr><td>Sponsor</td><td>Those that wish to sponsor MAC and have an advertisement on the web site, etc.</td><td>$1,000.00</td></tr>
                <tr><td>Law Enforcement Professional</td><td>In support of their critical contributions in fighting fraud in the payment industry, we offer complimentary memberships to any active law enforcement personnel. </td><td>Free</td></tr>
                <tr><td>Partner Additional</td><td>Same rights levels as partner, but for additional members within the partnership. </td><td>$75.00</td></tr>
                <tr><td>Vendor Additional</td><td>Same rights level as vendor, but for additional vendor members under original membership. </td><td>$100.00</td></tr>
                <tr><td>Sponsor Additional</td><td>Same rights level as sponsor, but for additional sponsor membership under original membership. </td><td>$200.00</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12 visible-sm visible-xs">
        <table class="table-info table-striped-double">
            <thead>
                <tr>
                    <td>Member Level</td>
                    <td>New Member Enrollment</td>
                </tr>
            </thead>
            <tbody>
                <tr><td>Individual</td><td>$75.00</td></tr>
                <tr>
                    <td colspan="2">
                        For single-user members; includes Risk and Underwriting professionals from any Acquiring Bank, Savings and Loan, Credit Union, third Party Processor, ISO/MSP, Merchant Acquirer, Processor, or Law Enforcement Agency. Other than Law Enforcement, the MAC member (company) must hold liability and be responsible for risk involving merchant transactions. A Individual Member receives all communications and has the ability to send inquiries and alerts.                        
                    </td>
                </tr>
                <tr><td>Corporate Regular</td><td>$225.00</td></tr>
                <tr>
                    <td colspan="2">
                        For corporate, or multi-user memberships. This level includes Risk and Underwriting professionals from any Acquiring Bank, Savings and Loan, Credit Union, third Party Processor, ISO/MSP, Merchant Acquirer, Processor, or Law Enforcement Agency. Other than Law Enforcement, the MAC member (company) must hold liability and be responsible for risk involving merchant transactions. A Member receives all communications and has the ability to send inquiries and alerts. Additionally, Corporate memberships include three additional user accounts at no additional charge.
                    </td>
                </tr>
                <tr><td>Corporate Additional</td><td>$50.00</td></tr>
                <tr>
                    <td colspan="2">
                        For larger corporations or user groups. This account has the same access under a pre-existing Corporate account, needing more than four user accounts.
                    </td>
                </tr>
                <tr><td>Partner</td><td>$300.00</td></tr>
                <tr>
                    <td colspan="2">
                        This Membership includes Risk and Underwriting professionals from ancillary industries such as those that sells future receivables on credit card processing. 
                    </td>
                </tr>
                <tr><td>Vendor</td><td>$500.00</td></tr>
                <tr>
                    <td colspan="2">
                        This Membership includes those that provide services to the risk and underwriting professionals that are members. A Vendor does not receive inquiries or alerts, but is able to send inquiries and job opportunities.
                    </td>
                </tr>
                <tr><td>Sponsor</td><td>$1,000.00</td></tr>
                <tr>
                    <td colspan="2">
                        Those that wish to sponsor MAC and have an advertisement on the web site, etc.
                    </td>
                </tr>
                <tr><td>Law Enforcement Professional</td><td>Free</td></tr>
                <tr>
                    <td colspan="2">
                        In support of their critical contributions in fighting fraud in the payment industry, we offer complimentary memberships to any active law enforcement personnel.
                    </td>
                </tr>
                <tr><td>Partner Additional</td><td>$75.00</td></tr>
                <tr>
                    <td colspan="2">
                        Same rights levels as partner, but for additional members within the partnership.
                    </td>
                </tr>
                <tr><td>Vendor Additional</td><td>$100.00</td></tr>
                <tr>
                    <td colspan="2">
                        Same rights level as vendor, but for additional vendor members under original membership.
                    </td>
                </tr>
                <tr><td>Sponsor Additional</td><td>$200.00</td></tr>
                <tr>
                    <td colspan="2">
                        Same rights level as sponsor, but for additional sponsor membership under original membership. 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="text-align:center;margin-bottom:60px;">
    <a href="@Url.Action("Apply","Join")"><button class="btn-lg btn-success" style="margin-right: 35px;">Join Now!</button></a>
</div>